@model IEnumerable<OfferCalculator_2._0.Models.MetalItemInfoModels>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Item.TypeOfWork)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MatrialPurchasingPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalSellingPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MountingPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CountingUnit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MetalType)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Item.TypeOfWork)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatrialPurchasingPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalSellingPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MountingPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountingUnit)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.MetalType)
            </td>
            <td>
                @Html.ActionLink("Add", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>